* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: 70px;
  margin: 15px;
  justify-content: space-between;
  display: flex;
}

@media (min-width: 769px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

.logo-uno {
  width: 60px;
  height: 55px;
  margin-top: 18px;
  margin-left: 17px;
}
@media (min-width: 769px) {
  .logo-uno {
    width: 90px;
    height: 90px;
  }
}

.burguer {
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-right: 17px;
}
@media (min-width: 769px) {
  .burguer {
    display: none;
  }
}

.menu-desktop {
  margin-right: 15px;
  display: flex;
  gap: 15px;
  font-size: 20px;
  font-family: monospace;
}

@media (max-width: 769px) {
  .menu-desktop {
    display: none;
  }
}

.seccion-uno {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .seccion-uno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }
}

.titulo {
  margin-top: 20px;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}

.foto {
  width: 300px;
  height: 300px;
}

.seccion-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4cc85d7;
  height: 538px;
}

.presentacion {
  align-items: center;
}

@media (min-width: 769px) {
  .seccion-dos {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}

.subtitulo {
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.parrafo-presentacion {
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 35px;
  max-width: 315px;
}

.logo {
  width: 90px;
  height: 90px;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .logo {
    width: 200px;
    height: 200px;
    margin: 0px;
  }
}

.seccion-tres {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.servicios-titulo {
  font-family: monospace;
  font-size: 32px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.servicios {
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .servicios-titulo {
    font-size: 45px;
  }
  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
}

.modelo-servicio {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0px 10px 0px 10px;
}

@media (min-width: 769px) {
  .modelo-servicio {
    max-width: 265px;
  }
}

.logo-serv-uno {
  width: 130px;
  height: 130px;
}

.titulo-serv-uno {
  font-family: "Roboto";
  font-size: 26px;
}

.texto-serv-uno {
  font-family: "Roboto";
  font-size: 16px;
  max-width: 312px;
}

.logo-serv-dos {
  width: 130px;
  height: 130px;
}

.titulo-serv-dos {
  font-family: "Roboto";
  font-size: 26px;
}

.texto-serv-dos {
  font-family: "Roboto";
  font-size: 16px;
  max-width: 312px;
}

.logo-serv-tres {
  width: 130px;
  height: 130px;
}

.titulo-serv-tres {
  font-family: "Roboto";
  font-size: 26px;
}

.texto-serv-tres {
  font-family: "Roboto";
  font-size: 16px;
  max-width: 312px;
}

.seccion-cuatro {
  background-color: #e4cc85d7;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 660px;
}

@media (min-width: 769px) {
  .seccion-cuatro {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}

.contacto {
  padding: 55px 52px 41px 52px;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

@media (min-width: 769px) {
  .contacto {
    margin-top: 90px;
    padding: 0px;
    font-size: 52px;
  }
}

.form {
  margin: auto 29px;
  font-family: "Roboto";
}

@media (min-width: 769px) {
  .form {
    padding: 0px;
    width: 380px;
  }
}

.box-form {
  margin-bottom: 27px;
}

.label {
  display: block;
  margin-bottom: 9px;
}
.caja-input {
  width: 100%;
  height: 45px;
  border: solid;
}

.texto-mensaje {
  width: 100%;
  height: 113px;
  border: solid;
}

.boton {
  width: 100%;
  height: 45px;
  background-color: lightgray;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 55px;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0px 80px;
  }
}

.logo-copyright {
  margin: 30px 0px 50px 0px;
}
.logo-footer {
  width: 90px;
}

@media (min-width: 769px) {
  .logo-footer {
    width: 112px;
  }
}

.copyrigth {
  font-family: monospace;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-box {
  margin-bottom: 35px;
}

.logo-insta {
  vertical-align: middle;
  width: 27px;
  height: 27px;
}

.insta {
  font-family: "Roboto";
  font-size: 16px;
  display: inline;
  margin-left: 10px;
}

.logo-linkedin {
  vertical-align: middle;
  width: 27px;
  height: 27px;
}

.lin {
  font-family: "Roboto";
  font-size: 16px;
  display: inline;
  margin-left: 10px;
}
.logo-github {
  vertical-align: middle;
  width: 27px;
  height: 27px;
}

.git {
  font-family: "Roboto";
  font-size: 16px;
  display: inline;
  margin-left: 10px;
}
